<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <table border = "1">    
        <thead>
            <tr>
                <th>Income</th>
                <th>Expense</th>
                <th>Available Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{record.income.amount}}</td>
                <td>{{record.expense.amount}}</td>
                <td>{{record.available_balance}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'enter_Income' %}">Enter Income</a>
    <a href="{% url 'enter_Expense' %}">Enter Expense</a>
</body>
</html>